<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %5p \(%F:%L\) %method\(\) - %m%n</pattern>
		</encoder>
	</appender>

	<root level="${log.level}">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>